{% extends 'base.html' %}

{% block conteudo %}                
        <!-- CONTEUDOS -->
        <div>&nbsp;</div>
        <div id="conteudo">
            <div ui-view="main" style="">
                <div class="loading-block">
                    <section id="balanco" class="despesa">
                        <div class="container balanco-graficos">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="conteudo-header">
                                        <h2 class="conteudo-titulo">
                                            Consultas e Dados Abertos
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-9">
      				                <div class="conteudo-texto">
  					                    <span>
                                            Essa seção apresenta consultas detalhadas sobre origem e uso dos recursos públicos no enfrentamento do novo coronavírus (Sars-CoV-2). São apresentadas as despesas, notas de empenho, bem como outras informações disponibilizadas em formato aberto pelos governos em nível estadual e federal.
                                        </span>
  				                    </div>
  			                    </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="consultas" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoC()">Consultas</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    Receitas para enfrentamento da Covid-19
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://www.transparencia.sc.gov.br/receita/2020/indicador/3799" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Despesas com o enfrentamento da Covid-19
                                                    <div class="orcamento-links">
                                                        <!--<a target="_blank" href="http://www.transparencia.sc.gov.br/despesa" class="link-padrao"><span class="icon">p</span></a>-->
                                                        <a target="_blank" href="http://www.transparencia.sc.gov.br/despesa/2020/indicador/3779" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Notas de empenho das despesas com Covid-19
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://www.transparencia.sc.gov.br/documentos?visao=empenho&covid19filtro=0&indicador=0&tipoexecucaofiltro=0&mesini=01&anoini=2020&mesfim=12&anofim=2020" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Contratos para enfretamento da Covid-19
                                                    <div class="orcamento-links">
                                                        <a href="/contratos" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- FIM CONSULTAS -->
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="dadosabertos" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoD()">Dados Abertos</a>
                                            </h3>
                                            <ul>
                                                <!--<li>
                                                    Conjunto de dados sobre contratos Covid-19
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/group/covid-19" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Conjunto de dados sobre demandas de Ouvidoria Covid-19
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/group/covid-19" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>-->
                                                <li>
                                                    Grupo temático sobre Covid-19 em Santa Catarina
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/group/covid-19" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>                                              
                                                <!--<li>
                                                    Auditasus - Dados do SIHSUS, CNES e IBGE
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://auditasus.com.br/" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>-->
                                                <li>
                                                    Notificações sobre Covid-19 no Brasil
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://www.dados.gov.br/dataset/notificacao_covid" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>                                               
                                                <!--<li>
                                                    Brasil.io - Conjunto de dados de casos de Covid-19 por municípios brasileiros
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://brasil.io/dataset/covid19/caso" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- DADOS ABERTOS -->
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="legislacao" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoL()">Legislação</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    Normas Federais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-normas-federais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>  
                                                <li>
                                                    Leis Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-leis-estaduais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                                <li>
                                                    Medidas Provisórias Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-medida-provisoria" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                                <li>
                                                    Decretos Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-decretos-estaduais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>                                                 
                                                <li>
                                                    Resoluções Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-resolucoes-estaduais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                                <li>
                                                    Portarias Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-portarias-estaduais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                                <li>
                                                    Instruções Normativas Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-instrucoes-normativas-estaduais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                                <li>
                                                    Atos Conjuntos Estaduais
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid-19-atos-conjuntos" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                                <li>
                                                    Deliberações da CIB
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://www.saude.sc.gov.br/coronavirus/deliberacoesCIB.html" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- LEGISLAÇÃO -->
                    </section>
                </div>
            </div>
        </div>
{% endblock %}