{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block conteudo %}      
        <!-- CONTEUDOS -->
        <div>&nbsp;</div>
        <div id="conteudo">
            <div ui-view="main">
                <div class="loading-block">
                    <section id="responsabilidade">
                        <div class="container balanco-graficos">
                            <div class="row">
                                <!-- HEADER DO CONTEUDO -->
                                <div class="col-xs-12">
                                    <div class="conteudo-header">
                                        <h2 class="conteudo-titulo ">
                                            Contratos Emergenciais Covid-19 - Geral
                                        </h2>
                                    </div>
                                </div>
                                <!-- ABAS COM GRÁFICOS -->
                                <div class="view-macro-contexto">
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="conteudo-bloco balanco-graficos-bloco">
                                            <div class="conteudo-bloco-abas-cabecalho">
                                                <a name="aba-1" class="conteudo-bloco-abas-botao aba-1 aba-ativa" onclick="trocaAba1()">
                                                    <span class="icon">c</span>
                                                    Por empresa
                                                </a>
                                                <a name="aba-2" class="conteudo-bloco-abas-botao aba-2" onclick="trocaAba2()">
                                                    <span class="icon">i</span>
                                                    Por órgão
                                                </a>
                                            </div>
                                            <div class="conteudo-bloco-interno">
                                                <!-- ABA 1 -->
                                                <div name="aba-1" class="row conteudo-bloco-aba aba-ativa">
                                                    <!-- TEXTO INTERNO ABA 1 -->
                                                    <!--<div class="col-xs-12 col-sm-12 col-md-6 ">
                                                        <div class="conteudo-bloco-valor valor-grande">551</div>
                                                        Foi o quantidade de manifestações em <b>2020</b><br>
                                                        <br>
                                                    </div>-->
                                                    <!-- GRAFICO ABA 1-->
                                                    <div class="col-xs-12">
                                                        <div class="balanco-grafico" style="text-align: center">
                                                            <div class="balanco-grafico-container">
                                                                <div id="chart-ano" config="chartAnoConfig" class="ng-isolate-scope" data-highcharts-chart="9">
                                                                    <div class="highcharts-container" id="highcharts-33" style="position: relative; overflow: hidden; width: 710px; height: 440px; text-align: left; line-height: normal; z-index: 0; font-family: Open Sans, Arial, Helvetica, sans-serif; left: 0.5px; top: 0.983337px;">
                                                                        <iframe src="http://200.19.215.246:3000/public/question/82106925-5fe3-426f-b8d5-4bcc2821d30f" frameborder="0" width="650" height="410" allowtransparency> </iframe>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /ABA 1 -->
                                                <!-- ABA 2 -->
                                                <div name="aba-2" class="row conteudo-bloco-aba">
                                                    <!-- TEXTO INTERNO ABA 2 -->
                                                        <!--<div class="col-xs-12 col-sm-12" style="">
                                                            <div class="conteudo-bloco-valor valor-grande">356</div>
                                                                O tipo de manifestação com mais demanda é <b>Solicitação de informação</b>
                                                        </div>-->
                                                        <!-- GRAFICO ABA 2 -->
                                                        <div class="col-xs-12">
                                                            <div class="balanco-grafico" style="text-align: center">
                                                                <div class="balanco-grafico-container">
                                                                    <div id="chart-ano" config="chartAnoConfig" class="ng-isolate-scope" data-highcharts-chart="9">
                                                                        <div class="highcharts-container" id="highcharts-33" style="position: relative; overflow: hidden; width: 710px; height: 430px; text-align: left; line-height: normal; z-index: 0; font-family: Open Sans, Arial, Helvetica, sans-serif; left: 0.5px; top: 0.983337px;">
                                                                            <iframe src="http://200.19.215.246:3000/public/question/6f37fc48-9a63-4f7b-b06a-5160d5376f65" frameborder="0" width="650" height="440" allowtransparency> </iframe>
                                                                            <!--<iframe name="grafico-tipos" src="{{iframeUrl}}" frameborder="0" width="710" height="300" allowtransparency></iframe>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div><!-- /ABA 2 -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- QUADRO LATERAL -->
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="conteudo-bloco balanco-graficos-bloco">
                                            <div class="conteudo-bloco-titulo">
                                                Contratos Emergenciais 
                                            </div>
                                            <div hm-read-more="" hm-text="Este painel tem como objetivo a transparência de informações relativas a Contratos Emergenciais amparados pela Lei Federal nº 13.979, de 6 de fevereiro de 2020, que possibilita a dispensa de licitação, entre outros critérios de flexibilização da Lei Geral de Licitações e Contratos, para aquisição de bens, serviços, inclusive de engenharia, obras, alienações e locações necessários ao enfrentamento da pandemia do novo coronavírus (Sars-CoV-2)." hm-limit="116"  hm-link-class="conteudo-bloco-interno-mais" class="conteudo-bloco-interno ng-isolate-scope"><span name="text">
                                                <span ng-bind-html="vm.lessText" style="white-space:pre-wrap;" class="ng-binding">Este painel apresenta os contratos emergenciais firmados pelos órgãos do Poder Executivo Estadual referentes ao enfrentamento da Covid-19, conforme estabelecido pela Lei Federal nº 13.979, de 6 de Fevereiro de 2020, Lei Estadual nº 17.945, de 25 de Maio de 2020, bem como ao já disposto no § 3º do art. 8º da Lei Federal nº 12.527, de 18 de novembro de 2011.    Desta forma objetiva aprimorar a transparência destas informações, possibilitar o controle social e ampliar a segurança das contratações realizadas, tendo em vista os critérios de flexibilização da Lei Geral de Licitações e Contratos para aquisição de bens e serviços (inclusive de engenharia, obras, alienações e locações) estabelecidos no âmbito do estado de calamidade pública em saúde decorrente da pandemia do novo coronavírus (Sars-CoV-2).</span>
                                                <span ng-show="vm.showMoreText" class="more-show-hide" ng-bind-html="vm.moreText" style="white-space:pre-wrap;"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- METADADOS E OBSERVACOES -->
                                <!--<div class="col-xs-12 col-sm-10 col-md-9">-->
                                  <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <tr-data-update>
                                                <div class="conteudo-info">
                                                    <span class="icon">E</span>
                                                    <span class="conteudo-info-bloco"><b>Dados atualizados em: </b>Verificar painel abaixo</span>
                                                    <span class="conteudo-info-divisor hidden-xs">|</span>
                                                    <span class="conteudo-info-bloco"><b>Fonte: </b>Módulo de Contratos do Sistema Integrado de Planejamento e Gestão Fiscal (SIGEF)</span>
                                                    <span class="conteudo-info-divisor hidden-xs hidden-sm">|</span>
                                                    <span class="conteudo-info-bloco"><b>Gestor: </b>Secretaria de Estado da Administração</span>
                                                    </br>
                                                    </br><b>Observação 1: </b>O painel não apresenta os contratos estabelecidos especificamente pela Secretaria de Estado da Saúde. Essas informações são disponibilizadas em painel específico uma vez que essa Secretaria se utiliza de sistema informatizado próprio.
                                                    </br><b>Observação 2: </b>As aquisições realizadas por dispensa de licitação não exigem a publicação de edital.
                                                    </br><b>Observação 3: </b>O conceito de “emergencial” adotado neste painel diz respeito à natureza do objeto em questão, ou seja, o enfrentamento da pandemia da Covid-19.
                                                </div>
                                            </tr-data-update>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!--<div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="observacoes" class="conteudo-bloco-orcamento"  tr-expande-bloco="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoO()">Observações</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    O painel não apresenta os contratos estabelecidos especificamente pela Secretaria de Estado da Saúde, tais informações são disponibilizadas em painel específico uma vez que essa Secretaria se utiliza de sistema informatizado próprio. 
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://sgsweknow.saude.sc.gov.br/#/public/dashboard/bG9jYWxob3N0/211/%7B68AE9BAF-B5AE-4548-8681-1DCA3E838F66%7D/C3614206-A443-0120-45CF-D75D2600AF2D-8F0" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    As aquisições realizadas por dispensa de licitação não exigem a publicação de edital. 
                                                </li>
                                                <li>
                                                    O conceito de “emergencial” adotado neste painel diz respeito à natureza do objeto em questão, ou seja, o enfrentamento da pandemia da Covid-19.
                                                </li>
                                            </ul>                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="paineis" class="conteudo-bloco-orcamento"  tr-expande-bloco="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoP()">Mais gráficos</a>
                                            </h3>
                                            <div>
                                                <iframe src="http://200.19.215.246:3000/public/dashboard/9ac12511-c945-421d-bdb4-a335eb923f49" frameborder="0" width="1130" height="800" allowtransparency></iframe>
                                                <!--<iframe src="http://172.19.200.22:3000/public/dashboard/e2e7b90c-cbbb-48eb-b347-a7a6ca127804" frameborder="0" width="1130" height="1600" allowtransparency></iframe>-->
                                            </div>                               
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="brutos" class="conteudo-bloco-orcamento"  tr-expande-bloco="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoB()">Dados Brutos</a>
                                            </h3>
                                            <div>
                                                <iframe src="http://200.19.215.246:3000/public/question/1a50ba4c-dd12-47f2-a716-8c0b53342566" frameborder="0" width="1130" height="500" allowtransparency></iframe>
                                            </div>                                   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="abertos" class="conteudo-bloco-orcamento"  tr-expande-bloco="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoA()">Dados Abertos</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    Conjunto de dados de contratos emergenciais 
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/dataset/covid19-contratos-emergenciais" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </section>
                </div>
            </div>
        </div>   
        <script>
            var link1 = "http://172.19.200.22:3000/public/question/4a74094e-6725-4955-815f-e225897ace44";
            document.getElementById("grafico-tipos").src = "http://172.19.200.22:3000/public/question/4a74094e-6725-4955-815f-e225897ace44";
            console.log(document.getElementById("grafico-tipos"))
        </script>
{% endblock %} 