{% extends 'base.html' %}

{% block conteudo %}                
        <!-- CONTEUDOS -->
        <div>&nbsp;</div>
        <div id="conteudo">
            <div ui-view="main" style="">
                <div class="loading-block">
                    <section id="balanco" class="despesa">
                        <div class="container balanco-graficos">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="conteudo-header">
                                        <h2 class="conteudo-titulo">
                                            Contratos
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-9">
      				                <div class="conteudo-texto">
  					                    <span>
                                            Essa seção apresenta os contratos para enfrentamento do novo coronavírus (Sars-CoV-2).
                                        </span>
  				                    </div>
  			                    </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="consultas" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoC()">Listagem</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    UDESC 11196/2020 - Comunicação interna para PROAD e Gab Reitor sobre medidas de redução de despesas e de contratos terceirizados, diante da queda de arrecadação de SC, efeito da pandemia.
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://portal.sgpe.sea.sc.gov.br/portal-externo/processo/1efc612b-c4f6-47b7-9d2b-b80199efa698" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    SSP 00002236/2020 - OFÍCIO Nº 00073/2020 A respeito dos contratos em meio a pandemia da COVID-19 serão realizadas pela Secretária de Estado da Administração, por meio da Diretoria de Gestão de Licitações e Contratos.
                                                    <div class="orcamento-links">
                                                        <!--<a target="_blank" href="http://www.transparencia.sc.gov.br/despesa" class="link-padrao"><span class="icon">p</span></a>-->
                                                        <a target="_blank" href="https://portal.sgpe.sea.sc.gov.br/portal-externo/processo/a8c0417e-1935-454f-a47e-ed59457ca328" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    SEA 00003392/2020 - Esclarecimento acerca da suspensão de contratos no período de situação de emergência em virtude do coronavírus,COVID-19.
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://portal.sgpe.sea.sc.gov.br/portal-externo/processo/fbcf7bd5-f612-416e-81fd-ad120d1c1727" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- FIM CONSULTAS -->
                        
                    </section>
                </div>
            </div>
        </div>
{% endblock %}