{% extends 'base.html' %}

{% block conteudo %}
        <div>&nbsp;</div>
        <!-- CONTEUDO  -->  
        <div id="conteudo">            
            <div>&nbsp;</div>
             <!-- SLIDER -->
            <div class="slideshow-container">
                <!-- Full-width images with number and caption text -->
                <div class="mySlides">
                    <!--<div class="numbertext">1 / 3</div>-->
                    <a href="http://www.coronavirus.sc.gov.br/" target="_blank" ><img src="{{ url_for('static', filename='img/banners/aff/BANNER_ACESSE_O_SITE_2000x500px.png') }}" style="width:100%"></a>
                    <!--<div class="text">Caption Text</div>-->
                </div>
            
                <div class="mySlides">
                    <!--<div class="numbertext">2 / 3</div>-->                    
                    <a href="http://www.sef.sc.gov.br/servicos/servico/132" target="_blank" ><img src="{{ url_for('static', filename='img/banners/aff/BANNER-DOE-2000x500.jpg') }}" style="width:100%"></a>
                    <!--<div class="text">Caption Two</div>-->
                </div>

                <div class="mySlides">
                    <!--<div class="numbertext">3 / 3</div>-->
                    <a href="http://especial.sc.gov.br/medidaseconomicas/" target="_blank" ><img src="{{ url_for('static', filename='img/banners/aff/BANNER-COVIDxx.jpg') }}" style="width:100%"></a>
                    <!--<div class="text">Caption Two</div>-->
                </div>
            
                <!-- BOTOES DE ANTERIOR E SEGUINTE -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
  
            <!-- PONTINHOS DO SLIDER -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
            </div> 
            <div>&nbsp;</div>

            <!-- CARDS -->   
            <section id="home">
                <div class="despesas">
                    <div class="container">
                        <div class="row">
                        <!--    <div class="col-xs-12 col-sm-6 col-md-4">
                                <div class="card principal">
                                    <div class="texto">                                
                                        Ações de transparência  <b>COVID-19</b><br/>
                                        no governo em <b>2020</b>
                                        <div class="select">
                                            <div class="botao" selected=2020><span class="seta"></span></div>
                                            <ul class="lista">
                                                <li>2020</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
  
                        <!-- RECEITAS - COVID-19 **** ALTERAR PARA NOVA CONSULTA ***** -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="http://www.transparencia.sc.gov.br/receita/2020/indicador/3799" target="_blank">
                                <div class="card receitas">
                                    <div class="texto">
                                        <h3 class="titulo">Receitas</h3>
                                        <!--<div class="valor">R$ 10.071.317.050,10</div>-->
                                    </div>
                                </div>
                            </a>
                        </div>

                        <!-- DESPESAS COVID-19 -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="http://www.transparencia.sc.gov.br/despesa/2020/indicador/3779" target="_blank" >
                                <div class="card despesas">
                                    <div class="texto">
                                        <h3 class="titulo">Despesas</h3>
                                        <!--<div class="valor">R$ 6.746.036.330,64</div>-->
                                    </div>
                                </div>
                            </a>    
                        </div>

                        <!-- DOCUMENTOS COVID-19 -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="http://www.transparencia.sc.gov.br/documentos?visao=empenho&covid19filtro=0&indicador=0&tipoexecucaofiltro=0&mesini=01&anoini=2020&mesfim=12&anofim=2020" target="_blank" >
                                <div class="card empenhos">
                                    <div class="texto">
                                        <h3 class="titulo">Notas de Empenho</h3>
                                        <!--<div class="valor">R$ 6.746.036.330,64</div>-->
                                    </div>
                                </div>
                            </a>    
                        </div>

                        <!-- CONTRATOS EMERGENCIAIS -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="/contratos">
                                <div class="card contratos">
                                    <div class="texto">
                                        <h3 class="titulo">Contratos Emergenciais</h3>
                                    </div>
                                </div>
                            </a>    
                        </div>

                        <!-- PAINEL DE CASOS DE COVID-19 -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="https://app.powerbi.com/view?r=eyJrIjoiNDMyMDhkMWItZTI3NC00ZTkzLWJiNTEtOWE1YWQxZjg4MjI2IiwidCI6ImExN2QwM2ZjLTRiYWMtNGI2OC1iZDY4LWUzOTYzYTJlYzRlNiJ9" target="_blank" >
                                <div class="card casos">
                                    <div class="texto">
                                        <h3 class="titulo">Monitoramento de Casos</h3>
                                        <!--<div class="valor">R$ 6.746.036.330,64</div>-->
                                    </div>
                                </div>
                            </a>    
                        </div>

                        <!-- PAINEL DE LEITOS DE COVID-19 -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="https://app.powerbi.com/view?r=eyJrIjoiMWY5NzE5ZjMtYmNmMC00ZmQxLWE1ZjctZGU0MWU3NmNiY2Q0IiwidCI6IjgwOGMzZTQ2LWIyZjYtNGUyMS1hMzU2LTMxNWRjNzI0YzI4YiJ9" target="_blank" >
                                <div class="card leitos">
                                    <div class="texto">
                                        <h3 class="titulo">Monitoramento de Leitos de UTI</h3>
                                        <!--<div class="valor">R$ 6.746.036.330,64</div>-->
                                    </div>
                                </div>
                            </a>    
                        </div>

                        <!-- OUVIDORIA -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="/ouvidoria">
                                <div class="card demandas">
                                    <div class="texto">
                                        <h3 class="titulo">Manifestações de Ouvidoria</h3>
                                        <!--<div class="valor">R$ 6.746.036.330,64</div>-->
                                    </div>
                                </div>
                            </a>    
                        </div>
                        <!-- BOLETINS DE COVID-19 -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="http://www.coronavirus.sc.gov.br/boletins/" target="_blank" >
                                <div class="card boletins">
                                    <div class="texto">
                                        <h3 class="titulo">Boletins Informativos Diários</h3>
                                        <!--<div class="valor">R$ 6.746.036.330,64</div>-->
                                    </div>
                                </div>
                            </a>    
                        </div>
                        <!-- LEGISLACAO -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="http://dados.sc.gov.br/dataset/instrumentos-legais-para-enfrentamento-ao-coronavirus-covid-19"  target="_blank">
                                <div class="card legislacao">
                                    <div class="texto">
                                        <h3 class="titulo">Legislação</h3>
                                    </div>
                                </div>
                            </a>    
                        </div>
                        <!-- DADOS ABERTOS -->
                        <!--<div class="col-xs-12 col-sm-6 col-md-4">
                            <a href="http://dados.sc.gov.br/group/covid-19" target="_blank">
                                <div class="card dados">
                                    <div class="texto">
                                        <h3 class="titulo">Dados Abertos</h3>
                                    </div>
                                </div>
                            </a>    
                        </div>-->
                    </div>
                </div>       

                <div>&nbsp;</div> 

                <!--PORTAL TRANSPARENCIA-->    
                <!--<div class="container">
                    <div class="row section-mapa">
                        <div class="col-xs-12 col-banner-home">
                            <a id="linkTransparencia" href="http://www.transparencia.sc.gov.br/" target="_blank" rel="external" title="Portal da Transparência">
                                <img src="{{ url_for('static', filename='img/banners/aff/transparencia.jpg') }}" class="img-responsive" alt="Transparência" longdesc="Transparência - Portal da Transparência do Executivo de Santa Catarina">
                           </a>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>-->

                <!--PORTAL DE DADOS ABERTOS-->    
                <div class="container">
                    <div class="row section-mapa">
                        <div class="col-xs-12 col-banner-home">
                            <a id="linkDadosAbertos" href="http://dados.sc.gov.br/group/covid-19" target="_blank" rel="external" title="Dados Abertos">
                                <img src="{{ url_for('static', filename='img/banners/aff/dadosabertos-covid.jpg') }}" class="img-responsive" alt="Dados Abertos" longdesc="Dados Abertos - Portal de Dados Abertos do Estado de Santa Catarina">
                           </a>
                        </div>
                    </div>
                </div>   
                <div>&nbsp;</div>
            </section>
        </div>
{% endblock %}