{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block conteudo %}      
        <!-- CONTEUDOS -->
        <div>&nbsp;</div>
        <div id="conteudo">
            <div ui-view="main" style="">
                <div class="loading-block">
                    <section id="responsabilidade">
                        <div class="container balanco-graficos">
                            <div class="row">
                                <!-- HEADER DO CONTEUDO -->
                                <div class="col-xs-12">
                                    <div class="conteudo-header">
                                        <h2 class="conteudo-titulo ">
                                            Painel de Monitoramento de Manifestações de Ouvidoria (Covid-19)
                                        </h2>
                                    </div>
                                </div>
                                <!-- ABAS COM GRÁFICOS -->
                                <div class="view-macro-contexto">
                                    <div class="col-xs-12 col-sm-8">
                                        <div class="conteudo-bloco balanco-graficos-bloco">
                                            <div class="conteudo-bloco-abas-cabecalho">
                                                <a name="aba-1" class="conteudo-bloco-abas-botao aba-1 aba-ativa" onclick="trocaAba1()">
                                                    <span class="icon">c</span>
                                                    Por data
                                                </a>
                                                <a name="aba-2" class="conteudo-bloco-abas-botao aba-2" onclick="trocaAba2()">
                                                    <span class="icon">i</span>
                                                    Por tipo
                                                </a>
                                            </div>
                                            <div class="conteudo-bloco-interno">
                                                <!-- ABA 1 -->
                                                <div name="aba-1" class="row conteudo-bloco-aba aba-ativa">
                                                    <!-- TEXTO INTERNO ABA 1 -->
                                                    <!--<div class="col-xs-12 col-sm-12 col-md-6 ">
                                                        <div class="conteudo-bloco-valor valor-grande">551</div>
                                                        Foi o quantidade de manifestações em <b>2020</b><br>
                                                        <br>
                                                    </div>-->
                                                    <!-- GRAFICO ABA 1-->
                                                    <div class="col-xs-12">
                                                        <div class="balanco-grafico" style="text-align: center">
                                                            <div class="balanco-grafico-container">
                                                                <div id="chart-ano" config="chartAnoConfig" class="ng-isolate-scope" data-highcharts-chart="9">
                                                                    <div class="highcharts-container" id="highcharts-33" style="position: relative; overflow: hidden; width: 710px; height: 300px; text-align: left; line-height: normal; z-index: 0; font-family: Open Sans, Arial, Helvetica, sans-serif; left: 0.5px; top: 0.983337px;">
                                                                        <iframe src="http://200.19.215.246:3000/public/question/9f001561-a208-4eb2-83c8-4fb0a725882a" frameborder="0" width="710" height="300" allowtransparency> </iframe>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /VISAO POR DATA -->
                                                <!-- ABA 2 -->
                                                <div name="aba-2" class="row conteudo-bloco-aba">
                                                    <!-- TEXTO INTERNO ABA 2 -->
                                                        <!--<div class="col-xs-12 col-sm-12" style="">
                                                            <div class="conteudo-bloco-valor valor-grande">356</div>
                                                                O tipo de manifestação com mais demanda é <b>Solicitação de informação</b>
                                                        </div>-->
                                                        <!-- GRAFICO ABA 2 -->
                                                        <div class="col-xs-12">
                                                            <div class="balanco-grafico" style="text-align: center">
                                                                <div class="balanco-grafico-container">
                                                                    <div id="chart-ano" config="chartAnoConfig" class="ng-isolate-scope" data-highcharts-chart="9">
                                                                        <div class="highcharts-container" id="highcharts-33" style="position: relative; overflow: hidden; width: 710px; height: 300px; text-align: left; line-height: normal; z-index: 0; font-family: Open Sans, Arial, Helvetica, sans-serif; left: 0.5px; top: 0.983337px;">
                                                                            <iframe src="http://200.19.215.246:3000/public/question/097e18eb-6061-42af-bc57-911d7c093135" frameborder="0" width="710" height="300" allowtransparency> </iframe>
                                                                            <!--<iframe name="grafico-tipos" src="{{iframeUrl}}" frameborder="0" width="710" height="300" allowtransparency></iframe>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div><!-- /VISAO POR TIPOS -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- QUADRO LATERAL -->
                                    <div class="col-xs-12 col-sm-4">
                                        <div class="conteudo-bloco balanco-graficos-bloco">
                                            <div class="conteudo-bloco-titulo">
                                                Manifestações de Ouvidoria
                                            </div>
                                            <div hm-read-more="" hm-text="Esse painel tem como foco demonstrar quais as manifestações de ouvidoria passaram pela Ouvidoria-Geral do Estado de Santa Catarina abordando a pandemia do novo conronavírus no Estado de Santa Catarina. A extração busca no campo de descrição das demandas as palavras chave que versam sobre temas como coronavírus e covid-19." hm-limit="116"  hm-link-class="conteudo-bloco-interno-mais" class="conteudo-bloco-interno ng-isolate-scope"><span name="text">
                                                <span ng-bind-html="vm.lessText" style="white-space:pre-wrap;" class="ng-binding">Esse painel tem como foco demonstrar quais as manifestações de ouvidoria passaram pela Ouvidoria-Geral do Estado de Santa Catarina abordando a pandemia do novo coronavírus no Estado de Santa Catarina.</span>
                                                <span ng-show="vm.showMoreText" class="more-show-hide" ng-bind-html="vm.moreText" style="white-space:pre-wrap;"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-9">
                                  <div class="container">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <tr-data-update><div class="conteudo-info"><span class="icon">E</span><span class="conteudo-info-bloco ng-binding"><b>Dados atualizados em: </b>Verificar painel abaixo</span><span class="conteudo-info-divisor hidden-xs">|</span><span class="conteudo-info-bloco ng-binding"><b>Fonte: </b>Sistema de Ouvidoria (SISOUV)</span><span class="conteudo-info-divisor hidden-xs hidden-sm">|</span><span class="conteudo-info-bloco ng-binding"><b>Gestor: </b>Controloadoria-Geral do Estado</span></div></tr-data-update>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="paineis" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoP()">Mais gráficos</a>
                                            </h3>
                                            <div>
                                                <iframe src="http://200.19.215.246:3000/public/dashboard/1cb27dde-8f52-489e-b7f5-810021713bbb" frameborder="0" width="1130" height="1500" allowtransparency></iframe>
                                            </div>                                 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="graficos" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoG()">Dados Abertos</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    Conjunto de dados de manifestações de Ouvidoria 
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://dados.sc.gov.br/group/covid-19" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </section>
                </div>
            </div>
        </div>   
        <script>
            var link1 = "http://172.19.200.22:3000/public/question/4a74094e-6725-4955-815f-e225897ace44";
            document.getElementById("grafico-tipos").src = "http://172.19.200.22:3000/public/question/4a74094e-6725-4955-815f-e225897ace44";
            console.log(document.getElementById("grafico-tipos"))
        </script>
{% endblock %} 