{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block conteudo %}      
        <!-- CONTEUDOS -->
        <div>&nbsp;</div>
        <div id="conteudo">
            <div ui-view="main" style="">
                <div class="loading-block">
                    <section id="responsabilidade">
                        <div class="container balanco-graficos">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="conteudo-header">
                                        <h2 class="conteudo-titulo ">
                                            Painéis e Gráficos
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-9">
      				                <div class="conteudo-texto">
  					                    <span>
                                            Os painéis são uma forma de visualização de dados que permite um melhor entendimento por parte dos cidadãos. Por meio de elementos interativos como gráficos e filtros, busca-se apresentar uma visão geral e pormenorizada dos dados a fim de facilitar a comunicação e permitir uma análise mais aprofundada da situação em relação ao enfrentamento da Covid-19.  
                                            </br></br>
                                            Além disso, seguindo os princípios de governo aberto, a CGE incentivará a colaboração entre Governo e Sociedade fomentando a geração de painéis e análises relacionados à pandemia com base em dados oficiais disponibilizados.
                                         </span>
  				                    </div>
  			                    </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="paineis" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoP()">Painéis</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    Painel de Contratos Emergenciais Covid-19 
                                                    <div class="orcamento-links">
                                                        <a target="" href="/contratos" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Painel de monitoramento de casos no Estado
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiNDMyMDhkMWItZTI3NC00ZTkzLWJiNTEtOWE1YWQxZjg4MjI2IiwidCI6ImExN2QwM2ZjLTRiYWMtNGI2OC1iZDY4LWUzOTYzYTJlYzRlNiJ9" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Painel de monitoramento de leitos de UTI ativos no Estado
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://app.powerbi.com/view?r=eyJrIjoiMTgwN2I4NTEtM2RhYi00OTYzLWJiMmYtOTRmNjBmZmM4Y2NjIiwidCI6ImExN2QwM2ZjLTRiYWMtNGI2OC1iZDY4LWUzOTYzYTJlYzRlNiJ9" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <!--<li>
                                                    Painel de processos de contratação Covid-19 
                                                    <div class="orcamento-links">
                                                        <a target="" href="/processos" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>-->
                                                <li>
                                                    Painel de monitoramento de manifestações de Ouvidoria (Covid-19) 
                                                    <div class="orcamento-links">
                                                        <a target="" href="/ouvidoria" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <!--<li>
                                                    Monitor Covid-19 da Udesc
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://covid.monitor.udesc.br/" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>-->
                                                <li>
                                                    Painel de monitoramento de casos no País 
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://covid.saude.gov.br/" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                                <li>
                                                    Painel de monitoramento de casos no Mundo 
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="https://coronavirus.jhu.edu/map.html" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li> 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="conteudo-bloco">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div name="graficos" class="conteudo-bloco-orcamento"  tr-expande-bloco="" style="">
                                            <h3 class="conteudo-bloco-orcamento-titulo">
                                                <a onclick="expandeBlocoG()">Gráficos</a>
                                            </h3>
                                            <ul>
                                                <li>
                                                    Linha do tempo no combate ao Coronavírus 
                                                    <div class="orcamento-links">
                                                        <a target="_blank" href="http://www.sea.sc.gov.br/confira-a-linha-do-tempo-do-governo-sc-no-combate-ao-coronavirus/" class="link-padrao"><span class="icon">p</span></a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->    
                    </section>
                </div>
            </div>
        </div>   
{% endblock %} 