{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block conteudo %}
        <!-- CONTEUDOS -->    
        <div>&nbsp;</div>
        <div id="conteudo">
            <div ui-view="main" style="">
                <div class="loading-block">
                    <section id="balanco" class="receita">
                        <div class="container balanco-graficos">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="conteudo-header">
                                        <h2 class="conteudo-titulo">
                                            Sobre a página Transparência Covid-19
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-10 col-md-9">
      				                <div class="conteudo-texto">
  					                    <span>
                                            Seguindo o compromisso do Governo do Estado com a transparência pública, a Controladoria-Geral do Estado (CGE) criou a página Transparência Covid-19. Neste espaço será apresentada a destinação dos recursos públicos e outras informações para manter os cidadãos atualizados e permitir o controle social das ações públicas sobre o enfrentamento da pandemia do novo coronavírus (Sars-CoV-2).
                                            </br></br>
                                        </span>
                                        Com a divulgação dos gastos específicos relacionados à atual emergência de saúde pública, a CGE reforça a importância da transparência para fortalecimento do controle social e os pressupostos do Portal da Transparência do Poder Executivo: reunir e disponibilizar, em um único local, informações oriundas dos sistemas governamentais e apresentar dados e informações sobre a ação pública em linguagem cidadã.
  				                    </div>
  			                    </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
{% endblock %}